Dependencies
iso-3166-1-alpha-3.xsd
tir-actor-1.xsd
tir-carnet-1.xsd
TerminationService\IRU.RTS.WS.TerminationService.Interface\TerminationService-1\rts-carnet-1.xsd
target/
iso-4217.xsd
.project
.classpath
.settings/
*.*proj.user
*.Publish.xml
/model/src/
CarnetService/IRU.RTS.WS.CarnetService.Interface/CarnetService-1/rts-termination-1.xsd
TerminationService/IRU.RTS.WS.TerminationService.Interface/TerminationService-1/rts-carnet-1.xsd
