<?xml version="1.0" encoding="utf-8"?>
<configuration>
<appSettings>

<!-- Intranet , BlueLan -->
<add key="Location" value="Intranet"></add>

<!-- 
<add key="InitialConnectString" value="Application Name=AdminClient;Server=192.168.12.34;Database=WS_Subscriber_db;uid=rtsuser;pwd=rtsuser;Connect Timeout=30"></add>
-->

<add key="InitialConnectString" value="Application Name=AdminClient;Server=PUNKKILLER-61P\I2008;Database=WS_Subscriber_db;uid=sa;pwd=sapass;Connect Timeout=30"></add>

<add key="SubscriberDBName" value="WS_Subscriber_db"></add>
<add key="CopyToDBName" value="WSST_Copy_To_db"></add>
<add key="InternalDBName" value="WSST_Internal_db"></add>
<add key="ExternalDBName" value="WSST_External_db"></add>
<add key="TCHQDBName" value="TCHQ_db"></add>
<add key="WSRQDBName" value="WSRQ_db"></add>


<add key="SubscriberServerName" value="PUNKKILLER-61P\I2008"></add>
<add key="CopyToServerName" value="PUNKKILLER-61P\I2008"></add>
<add key="InternalServerName" value="PUNKKILLER-61P\I2008"></add>
<add key="ExternalServerName" value="PUNKKILLER-61P\I2008"></add>
<add key="TCHQServerName" value="PUNKKILLER-61P\I2008"></add>
<add key="WSRQServerName" value="PPUNKKILLER-61P\I2008"></add>

	<!--
<add key="SubscriberServerName" value="192.168.12.34"></add>
<add key="CopyToServerName" value="192.168.12.34"></add>
<add key="InternalServerName" value="192.168.12.34"></add>
<add key="ExternalServerName" value="192.168.12.34"></add>
<add key="TCHQServerName" value="192.168.12.34"></add>
-->


	</appSettings>
</configuration>
