<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="IRUSqlCommand" type="IRU.Common.EnterpriseLibrary.Data.Configuration.IRUSqlCommandSettings, IRU.Common.EnterpriseLibrary, Version=1.0.3.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IRU.RTS.AdminClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="RtsCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add name="Isolated Storage Cache Store" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        encryptionProviderName="" partitionName="RTSPlus" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <dataConfiguration>
    <providerMappings>
      <add databaseType="IRU.Common.EnterpriseLibrary.Data.IRUSqlDatabase, IRU.Common.EnterpriseLibrary, Version=1.0.3.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59"
        name="IRUSqlDatabase" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
    <add name="WsSubscriber" connectionString="Application Name=AdminClient;Server=172.25.13.50\MSSQL2K8TEST;Database=WS_Subscriber_db;Integrated Security=true"
        providerName="IRUSqlDatabase" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="IRUSqlClientFactory"
           invariant="IRUSqlDatabase"
           description="IRU Data Provider for MS-SQL"
           type="IRU.Common.EnterpriseLibrary.Data.IRUSqlClientFactory, IRU.Common.EnterpriseLibrary, Version=1.0.3.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
    </DbProviderFactories>
  </system.data>
  <IRUSqlCommand>
    <Databases>
      <DbParameters database="WS_SUBSCRIBER_DB" commandTimeout="60" />
    </Databases>
  </IRUSqlCommand>  
  
  <appSettings>
    <!-- Intranet , BlueLan -->
    <add key="Location" value="Intranet"></add>

    <add key="InitialConnectString" value="Application Name=AdminClient;Server=172.25.13.50\MSSQL2K8TEST;Database=WS_Subscriber_db;Integrated Security=true"></add>

    <add key="SubscriberDBName" value="WS_Subscriber_db"></add>
    <add key="CopyToDBName" value="WSST_Copy_To_db"></add>
    <add key="InternalDBName" value="WSST_Internal_db"></add>
    <add key="ExternalDBName" value="WSST_External_db"></add>
    <add key="TCHQDBName" value="TCHQ_db"></add>
    <add key="WSRQDBName" value="WSRQ_db"></add>


    <add key="SubscriberServerName" value="172.25.13.50\MSSQL2K8TEST"></add>
    <add key="CopyToServerName" value="172.25.13.50\MSSQL2K8TEST"></add>
    <add key="InternalServerName" value="172.25.13.50\MSSQL2K8TEST"></add>
    <add key="ExternalServerName" value="172.25.13.50\MSSQL2K8TEST"></add>
    <add key="TCHQServerName" value="172.25.13.50\MSSQL2K8TEST"></add>
    <add key="WSRQServerName" value="172.25.13.50\MSSQL2K8TEST"></add>

  </appSettings>
  <userSettings>
    <IRU.RTS.AdminClient.Properties.Settings>
      <setting name="RTSPlusCertPath" serializeAs="String">
        <value />
      </setting>
    </IRU.RTS.AdminClient.Properties.Settings>
  </userSettings>
</configuration>
