<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <!--
    <defaultDocument>
      <files>
        <clear />
        <add value="TerminationService-1.svc" />
      </files>
    </defaultDocument>
    -->
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="IRU.RTS.WS.TerminationService.TerminationServiceBehavior"
        name="IRU.RTS.WS.TerminationService.Implementation.TerminationService">
        <endpoint address="" behaviorConfiguration="TerminationServiceWSSecurityEndPointBehavior" binding="wsHttpBinding"
          bindingConfiguration="wsHttpBindingCfg" bindingNamespace="http://rts.iru.org/services/TerminationService-1" contract="ITerminationServiceSEI">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9081" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingCfg">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IRU.RTS.WS.TerminationService.TerminationServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="TerminationServiceWSSecurityEndPointBehavior">
          <!--<WSSecurityEndPointBehavior PasswordValidator="IRU.RTS.WS.TerminationService.Implementation.TerminationServicePasswordValidator, IRU.RTS.WS.TerminationService.Implementation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />-->
          <WSSecurityEndPointBehavior />
          <WSNamespacePrefixerBehaviour />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="WSSecurityEndPointBehavior"
             type="IRU.Common.WCF.Security.WSS.PasswordDigest.SecurityBehaviorExtension, IRU.Common.WCF.Security.WSS, Version=1.2.1.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
        <add name="WSNamespacePrefixerBehaviour"
             type="IRU.Common.WCF.Behaviors.Namespace.NamespacePrefixerBehaviourExtension, IRU.Common.WCF.Behaviors, Version=1.2.1.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
</configuration>
