<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="cachingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Caching.Configuration.CacheManagerSettings, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="IRUSqlCommand" type="IRU.Common.EnterpriseLibrary.Data.Configuration.IRUSqlCommandSettings, IRU.Common.EnterpriseLibrary, Version=1.0.3.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
  </configSections>
  
  <cachingConfiguration defaultCacheManager="Cache Manager">
    <cacheManagers>
      <add name="RtsCache" type="Microsoft.Practices.EnterpriseLibrary.Caching.CacheManager, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        expirationPollFrequencyInSeconds="60" maximumElementsInCacheBeforeScavenging="1000"
        numberToRemoveWhenScavenging="10" backingStoreName="NullBackingStore" />
    </cacheManagers>
    <backingStores>
      <add name="Isolated Storage Cache Store" type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.IsolatedStorageBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        encryptionProviderName="" partitionName="RTSPlus" />
      <add type="Microsoft.Practices.EnterpriseLibrary.Caching.BackingStoreImplementations.NullBackingStore, Microsoft.Practices.EnterpriseLibrary.Caching, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="NullBackingStore" />
    </backingStores>
  </cachingConfiguration>
  <dataConfiguration>
    <providerMappings>
      <add databaseType="IRU.Common.EnterpriseLibrary.Data.IRUSqlDatabase, IRU.Common.EnterpriseLibrary, Version=1.0.3.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59"
        name="IRUSqlDatabase" />
    </providerMappings>
  </dataConfiguration>
  <connectionStrings>
      <add name="WsSubscriber" connectionString="application name=IRU.RTS.WS.Common.Subscribers.Tester;server=localhost\MSSQLSERVER_2K8;database=WS_SUBSCRIBER_DB;Integrated Security=true"
          providerName="IRUSqlDatabase" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="IRUSqlClientFactory"
           invariant="IRUSqlDatabase"
           description="IRU Data Provider for MS-SQL"
           type="IRU.Common.EnterpriseLibrary.Data.IRUSqlClientFactory, IRU.Common.EnterpriseLibrary, Version=1.0.3.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
    </DbProviderFactories>
  </system.data>
  <IRUSqlCommand>
    <Databases>
      <DbParameters database="WS_SUBSCRIBER_DB" commandTimeout="60" />
    </Databases>
  </IRUSqlCommand>
  
</configuration>