<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="IRUSqlCommand" type="IRU.Common.EnterpriseLibrary.Data.Configuration.IRUSqlCommandSettings, IRU.Common.EnterpriseLibrary, Version=1.0.1.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
  </configSections>
  <dataConfiguration>
    <providerMappings>
      <add databaseType="IRU.Common.EnterpriseLibrary.Data.IRUSqlDatabase, IRU.Common.EnterpriseLibrary, Version=1.0.1.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59"
          name="IRUSqlDatabase" />
    </providerMappings>
  </dataConfiguration>
  <system.data>
    <DbProviderFactories>
      <add name="IRUSqlClientFactory"
           invariant="IRUSqlDatabase"
           description="IRU Data Provider for MS-SQL"
           type="IRU.Common.EnterpriseLibrary.Data.IRUSqlClientFactory, IRU.Common.EnterpriseLibrary, Version=1.0.1.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
    </DbProviderFactories>
  </system.data>
  <IRUSqlCommand>
    <Databases>
      <DbParameters database="WS_SUBSCRIBER_DB" commandTimeout="60" />
    </Databases>
  </IRUSqlCommand>
  <connectionStrings>
    <add name="WsSubscriber" connectionString="application name=IRU.RTS.WS.Common.Subscribers.Tester;server=172.25.13.50;database=WS_SUBSCRIBER_DB;Integrated Security=true"
        providerName="IRUSqlDatabase" />
  </connectionStrings>
</configuration>