ietf-*.xsd
iru-*.xsd
iso-*.xsd
tir-*.xsd
tirplus-*.xsd
target/
.project
.classpath
.settings/
*.*proj.user
*.Publish.xml
/model/src/
CarnetService/IRU.RTS.WS.CarnetService.Interface/CarnetService-1/rts-termination-1.xsd
TerminationService/IRU.RTS.WS.TerminationService.Interface/TerminationService-1/rts-carnet-1.xsd
VoucherService/IRU.RTS.WS.VoucherService.Interface/VoucherService-1/rts-*-1.xsd
