<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="ConfigXMLFile" value="C:\src\RealtimeSafeTIR\WSTCHQ_BE\TCHQHostService\bin\WSTCHQ_Config.xml"/>
	
</appSettings>

<system.diagnostics>
       <switches>
          <add name="General" value="4" />
       </switches>
       <trace autoflush="true" indentsize="4">
          <listeners>
          
             <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\src\RealtimeSafeTIR\WSTCHQ_BE\TCHQHostService\bin\TCHQHostServiceLog.log" />
          </listeners>
       </trace>
    </system.diagnostics>
</configuration>
