<?xml version="1.0" encoding="utf-8" ?>
<configuration>
<appSettings>
	<add key="ConfigXMLFile" value="CryptoHost_Config.xml"/>
	
</appSettings>

<system.diagnostics>
       <switches>
          <add name="General" value="4" />
       </switches>
       <trace autoflush="true" indentsize="4">
          <listeners>
          <!-- change the log file name if u run two instances of same testhost as it will cause error -->
             <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="CryptoHostServiceLog.log" />
          </listeners>
       </trace>
    </system.diagnostics>


</configuration>
