<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConfigXMLFile" value="WSTCHQ_Config.xml" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <add name="General" value="2" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="TCHQProc_trace.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>