<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="IRU.RTS.WS.CarnetService.Implementation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="IRU.RTS.WS.CarnetService.Implementation.Properties.Settings.CurrentDB"
      connectionString="Application Name=http://rts.iru.org/services/CarnetService-1;Data Source=localhost\MSSQLSERVER_2K8;Initial Catalog=Current;Integrated Security=SSPI" />
    <add name="IRU.RTS.WS.CarnetService.Implementation.Properties.Settings.WsSubscriberDB"
      connectionString="Application Name=http://rts.iru.org/services/CarnetService-1;Data Source=localhost\MSSQLSERVER_2K8;Initial Catalog=WS_SUBSCRIBER_DB;Integrated Security=SSPI" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" />
  </system.web>
  <system.webServer>
    <!--
    <defaultDocument>
      <files>
        <clear />
        <add value="CarnetService-1.svc" />
      </files>
    </defaultDocument>
    -->
  </system.webServer>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="IRU.RTS.WS.CarnetService.CarnetServiceBehavior"
        name="IRU.RTS.WS.CarnetService.Implementation.CarnetService">
        <endpoint address="" behaviorConfiguration="WSSecurityEndPointBehavior" binding="wsHttpBinding"
          bindingConfiguration="wsHttpBindingCfg" bindingNamespace="http://rts.iru.org/services/CarnetService-1" contract="ICarnetServiceSEI">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9080" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpBindingCfg">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="IRU.RTS.WS.CarnetService.CarnetServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="WSSecurityEndPointBehavior">
          <WSSecurityEndPointBehavior PasswordValidator="IRU.RTS.WS.CarnetService.Implementation.CarnetServicePasswordValidator, IRU.RTS.WS.CarnetService.Implementation, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
          <WSNamespacePrefixerBehaviour />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="WSSecurityEndPointBehavior"
             type="IRU.Common.WCF.Security.WSS.PasswordDigest.SecurityBehaviorExtension, IRU.Common.WCF.Security.WSS, Version=1.2.0.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
        <add name="WSNamespacePrefixerBehaviour"
             type="IRU.Common.WCF.Behaviors.Namespace.NamespacePrefixerBehaviourExtension, IRU.Common.WCF.Behaviors, Version=1.2.0.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
      </behaviorExtensions>
    </extensions>
  </system.serviceModel>
  <applicationSettings>
    <IRU.RTS.WS.CarnetService.Implementation.Properties.Settings>
      <setting name="MaxCountOfCarnets" serializeAs="String">
        <value>1000</value>
      </setting>
      <setting name="MinTIRCarnetNumber" serializeAs="String">
        <value>51000001</value>
      </setting>
      <setting name="SQLCommandTimeout" serializeAs="String">
        <value>60000</value>
      </setting>
    </IRU.RTS.WS.CarnetService.Implementation.Properties.Settings>
  </applicationSettings>
</configuration>
