<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="ConfigXMLFile" value="TIREPDG2B_Config.xml"/>
    </appSettings>

    <system.diagnostics>
        <switches>
            <add name="General" value="2"/>
        </switches>
        <trace autoflush="true" indentsize="4">
            <listeners>

                <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="EPD-G2BRecrHostServiceLog.log"/>
            </listeners>
        </trace>
    </system.diagnostics>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
