<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="TIREPDB2GSender.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <TIREPDB2GSender.Properties.Settings>
      <setting name="TIREPDB2GSender_TIREPDB2GService_TIREPDB2GServiceClass"
          serializeAs="String">
        <value>http://localhost:8080/SMDWEBS/EPD/TIREPDB2G1/TIREPDB2GService.asmx</value>
      </setting>
    </TIREPDB2GSender.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ConfigXMLFile" value="C:\ApplicationData\APPLICATIONS_WORK_IN_PROGRESS\RussianCustomsWS\RTS_Builds\bin\TIREPDB2G_Config.xml"/>
  </appSettings>

  <system.diagnostics>
    <switches>
      <add name="General" value="4" />
    </switches>
    <trace autoflush="true" indentsize="4">
      <listeners>

        <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="EPD-B2GSendHostServiceLog.log" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>