<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRU.RTS.TIREPD.B2G.CipherHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <IRU.RTS.TIREPD.B2G.CipherHelper.Properties.Settings>
            <setting name="Empty2BGRequest" serializeAs="String">
                <value>&lt;soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
  &lt;soap:Body&gt;
    &lt;TIREPDB2G xmlns="http://www.iru.org"&gt;
      &lt;su&gt;
        &lt;SubscriberID&gt;&lt;/SubscriberID&gt;
        &lt;CertificateID&gt;&lt;/CertificateID&gt;
        &lt;ESessionKey&gt;&lt;/ESessionKey&gt;
        &lt;SubscriberMessageID&gt;&lt;/SubscriberMessageID&gt;
        &lt;InformationExchangeVersion&gt;&lt;/InformationExchangeVersion&gt;
        &lt;MessageName&gt;&lt;/MessageName&gt;
        &lt;TimeSent&gt;&lt;/TimeSent&gt;
        &lt;MessageContent&gt;&lt;/MessageContent&gt;
      &lt;/su&gt;
    &lt;/TIREPDB2G&gt;
  &lt;/soap:Body&gt;
&lt;/soap:Envelope&gt;</value>
            </setting>
        </IRU.RTS.TIREPD.B2G.CipherHelper.Properties.Settings>
    </applicationSettings>
</configuration>