<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RTSTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RTSTestClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<appSettings>
	<!-- 
	<add key="CryptoEndPoint" value="tcp://BOMWRKSP01:9012/CryptoProvider.rem"/> 
	<add key="SubscriberDB" value="SERVER=BOMWRKSP01\i0;DATABASE=WS_SUBSCRIBER_DB;uid=rtsuser;pwd=rtsuser;connect timeout =200"/> 
	<add key="RTSTestClient.Query.SafeTIRHolderQueryServiceClass" value="http://BOMWRKSPT42P/rts/tircarnetquery.asmx"/></appSettings> 
	-->
	<!--	-->
	<add key="CryptoEndPoint" value="tcp://172.25.12.50:9012/CryptoProvider.rem"/>
	<add key="SubscriberDB" value="SERVER=172.25.13.50\MSSQL2K8TEST;DATABASE=WS_SUBSCRIBER_DB;uid=rts_user;pwd=password-8;connect timeout =200"/>
	<add key="RTSTestClient.Query.SafeTIRHolderQueryServiceClass" value="http://172.25.65.50/rts2/TCHQ_WS/tirCarnetQuery.asmx"/>
	<add key="RTSTestClient.WSST.SafeTirUpload" value="http://172.25.65.50/rts2/WSST_WS/safetirupload.asmx"/>
  <add key="RTSTestClient.WSRE.SafeTirUpload" value="http://172.25.65.50/rts2/WSST_WS/safetirupload.asmx"/>
  <add key="RTSTestClient.WSRQ.ReconciliationQueryServiceClass" value="http://172.25.65.50/rts2/WSRQ_WS/WSRQ.asmx"/>

</appSettings>
  
  
	
<system.diagnostics>
       <switches>
          <add name="General" value="4"/>
       </switches>
       <trace autoflush="true" indentsize="4">
          <listeners>
          <!-- change the log file name if u run two instances of same testhost as it will cause error -->
             <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\TIR-EPD WS Test Client\LogsRTSTestClient.log"/>
          </listeners>
       </trace>
    </system.diagnostics>
   
   <!-- Required for stress testing -->
   
   <system.net>
      <connectionManagement>
   <!--       <add address="*" maxconnection="100"/> -->
      </connectionManagement>
   </system.net>

   <applicationSettings>
      <RTSTestClient.Properties.Settings>
         <setting name="RTSTestClient_Query_SafeTIRHolderQueryServiceClass"
            serializeAs="String">
            <value>http://172.25.65.50/rts2/TCHQ_WS/tirCarnetQuery.asmx</value>
         </setting>
         <setting name="RTSTestClient_WSRQ_ReconciliationQueryServiceClass"
            serializeAs="String">
            <value>http://172.25.65.50/rts2/WSRQ_WS/WSRQ.asmx</value>
         </setting>
         <setting name="RTSTestClient_WSRE_SafeTirUpload" serializeAs="String">
            <value>http://172.25.65.50/rts2/WSST_WS/safetirupload.asmx</value>
         </setting>
         <setting name="RTSTestClient_WSST_SafeTirUpload" serializeAs="String">
            <value>http://172.25.65.50/rts2/WSST_WS/safetirupload.asmx</value>
         </setting>
         <setting name="RTSTestClient_TIREPDG2B_TIREPDG2BService" serializeAs="String">
            <value>http://172.25.65.50/rts2/TIREPDG2B/TIREPDG2BService.asmx</value>
         </setting>
         <setting name="RTSTestClient_TIREPDB2G_TIREPDB2GServiceClass"
            serializeAs="String">
            <value>http://10.255.1.164/WSTIREPDB2G/TIREPDB2GClass.asmx</value>
         </setting>

      </RTSTestClient.Properties.Settings>
   </applicationSettings>
   <userSettings>
      <RTSTestClient.Properties.Settings>
         <setting name="SetReadOnly" serializeAs="String">
            <value>True</value>
         </setting>
      </RTSTestClient.Properties.Settings>
   </userSettings>
  </configuration>
