<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="ConfigXMLFile" value="C:\ApplicationData\RussianCustoms\RTS_Builds\bin\WSRQNewRequest_Processor_config.xml"/>
    </appSettings>
    <system.diagnostics>
      <switches>
        <add name="General" value="4" />
      </switches>
      <trace autoflush="true" indentsize="4">
        <listeners>

          <add name="myListener" type="System.Diagnostics.TextWriterTraceListener" initializeData="WSRQNewRequest_ProcessorHostService.log" />
        </listeners>
      </trace>
    </system.diagnostics>
  </configuration>
