<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="IRU.RTS.WS.Common.Data.Current.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="IRU.RTS.WS.Common.Data.Current.Properties.Settings.CurrentDB"
            connectionString="Data Source=localhost\MSSQLSERVER_2K8;Initial Catalog=Current;User ID=devsvc;Password=SvcDev11" />
    </connectionStrings>
    <applicationSettings>
        <IRU.RTS.WS.Common.Data.Current.Properties.Settings>
            <setting name="SQLCommandTimeout" serializeAs="String">
                <value>60000</value>
            </setting>
        </IRU.RTS.WS.Common.Data.Current.Properties.Settings>
    </applicationSettings>
</configuration>