<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICarnetService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    bypassProxyOnLocal="false" transactionFlow="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferPoolSize="524288" maxReceivedMessageSize="655360"
                    messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="true"
                    allowCookies="false">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <reliableSession ordered="true" inactivityTimeout="00:10:00"
                        enabled="false" />
                    <security mode="Transport">
                        <transport clientCredentialType="Windows" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="Windows" negotiateServiceCredential="true"
                            establishSecurityContext="true" />                      
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <behaviors>
          <endpointBehaviors>
            <behavior name="WSSecurityEndPointBehavior">
              <WSSecurityEndPointBehavior />
            </behavior>
          </endpointBehaviors>
        </behaviors>
        <extensions>
          <behaviorExtensions>
            <add name="WSSecurityEndPointBehavior"
                 type="IRU.Common.WCF.Security.WSS.PasswordDigest.SecurityBehaviorExtension, IRU.Common.WCF.Security.WSS, Version=1.1.0.0, Culture=neutral, PublicKeyToken=f01c97a8a42dad59" />
          </behaviorExtensions>
        </extensions>
        <client>
            <endpoint address="https://ws-test.iru.org/rts/services/CarnetService-1.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ICarnetService"
                contract="CarnetService.ICarnetService" name="WSHttpBinding_ICarnetService"
                behaviorConfiguration="WSSecurityEndPointBehavior">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>